<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="ml" name="ml" class="com.creasypita.example.spring.MachineLearningService">

</bean>
    <bean id="helloBean" class="com.creasypita.example.spring.HelloWorld">
        <property name="name" value="creasypita" />
    </bean>
</beans>